
<div class="basic-grey">
	<h1>User Login</h1>
</div>


<%= form_tag '/login' do %>
	<div class="question">
		<%= text_field_tag :email %>
		<%= label_tag :email %>
	</div>

	<div class="question">
		<%= password_field_tag :password %>
		<%= label_tag :password %>
	</div>

	<button>Login</button>
	
<% end %>


