<div class="basic-grey">
	<h1>Edit Profile</h1>
</div>

<% if @user.errors.any? %>
	<ol>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ol>
<% end %>


<%= form_for @user do |f| %>
	<div class="question">
		<%= f.email_field :email %>
		<%= f.label :email %>
		
	</div>
	
	<div class="question">
		<%= f.text_field :name %>
		<%= f.label :name %>
		
	</div>

	<div class="question">
		<%= f.password_field :password %>
		<%= f.label :password %>
		
	</div>

	<div class="question">
		<%= f.password_field :password_confirmation %>
		<%= f.label :password_confirmation %>
		
	</div>
	
	<!-- <div class="edit-user">
		<%= f.submit %>
	</div> -->
	<button>Submit</button>

	<!-- <%= link_to 'Back', root_path, class: 'btn-user-edit-back' %> -->
<% end %>

