<div class="basic-grey">
	<h1>New User</h1>
</div>
<% if @user.errors.any? %>
	<ol>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ol>
<% end %>


<%= form_for @user do |f| %>
	<div class="question">
		<%= f.email_field :email, required: true  %>
		<%= f.label :email%>
		
	</div>

	<div class="question">
		<%= f.text_field :name, required: true  %>
		<%= f.label :name %>
		
	</div>

	<div class="question">
		<%= f.password_field :password, required: true  %>
		<%= f.label :password %>
		
	</div>

	<div class="question">
		<%= f.password_field :password_confirmation, required: true  %>
		<%= f.label :password_confirmation %>
		
	</div>

	<button>Sign Up</button>
<% end %>




