<div class="basic-grey">
	<h1>New User</h1>
</div>
<% if @user.errors.any? %>
	<ol>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ol>
<% end %>

<div class="basic-grey">
	<%= form_for @user do |f| %>
		<p>
			<%= f.label :email %>
			<%= f.email_field :email %>
		</p>

		<p>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</p>

		<p>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</p>

		<p>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</p>
		
		<div class="user-signup">
			<%= f.submit %>
		</div>
	<% end %>
</div>



