<%= form_for(@wedding) do |f| %>
  <% if @wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% @wedding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="question">
    <%= f.text_field :bride_name %>
    <%= f.label :bride_name %><br>
    
  </div>
  <div class="question">
    <%= f.text_field :groom_name %>
    <%= f.label :groom_name %><br>
    
  </div>
  <div class="question">
    <%= f.text_field :love_story %>
    <%= f.label :love_story %><br>
    
  </div>
  <div class="question">
    <%= f.date_select :date %>
    <%= f.label :date %><br>
    
  </div>
  <div class="question">
    <%= f.text_field :location %>
    <%= f.label :location %><br>
    
  </div>
  
  <div class="question">
      <label>User:</label>
      <%= f.select :user_id, User.all.map { |user| [user.name, user.id] }, :include_blank => true, :placeholder => "Select the user" %>
  </div>

  <button>Submit</button>
<% end %>
