
<% if @current_user.present? %>
  <div class="logged-in-user">
    Welcome <%= @current_user.name %> !
  </div>
<% end %>

<div class="header">
  <div class="header-text">
    We are getting married!
  </div>
  
  <% @wedding.number_guests = 0 %>
  <% @wedding.guests.each do |guest| %>
    <% unless guest.nil? %>
      <% if guest.is_attending %>
        <% number_people = guest.number_people.to_i + 1 %>
        <% @wedding.number_guests = number_people + @wedding.number_guests %>
      <% end %>
    <% end %>
  <% end %>

  <div class="num-guest">
    <%= pluralize(@wedding.number_guests, "guest") %>
  </div>

</div>

<p id="notice"><%= notice %></p>

<div class="wedding-date">
  <%= @wedding.date %>
</div>

<div class="couples">
  <%= @wedding.bride_name %>
  <span class="heartbeat"></span>
  <%= @wedding.groom_name %>
</div>

<div id="myGallery">
   <% @wedding.images.each do |img| %>
    <% if img == @wedding.images.first %>
      <%= image_tag img.url, :class => 'active' %>
    <% else %>
      <%= image_tag img.url %>
    <% end %>
  <% end %>
</div>

<div class="heart-shape1"></div>
<div class="heart-shape2"></div>
<div class="heart-shape3"></div>
<div class="heart-shape4"></div>

<div class="love-story">  
  <%= @wedding.love_story %>
</div>

<% if @current_user.present? %>
  <% unless @wedding.user.nil? %>
    <% if @current_user.name == @wedding.user.name %>
      <div class="line0"></div>
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
      <div class="line4"></div>

      <div class="new-weddings">All Guests</div>

      <%= link_to 'Images', wedding_images_path(@wedding), class: 'new-images' %>
      <%= link_to 'Invite Guests', new_wedding_email_path(@wedding), class: 'new-guests' %>
      <%= link_to 'Edit profile', edit_user_path, class: 'new-edit-profile' %>
      <%= link_to "Logout", login_path, :method => 'delete', :data => { :confirm => "Are you sure you wish to logout?"}, class: 'new-user-logout' %>

    <% else %>
      <%= link_to 'Edit profile', edit_user_path, class: 'new-edit-profile2' %>
      <%= link_to "Logout", login_path, :method => 'delete', :data => { :confirm => "Are you sure you wish to logout?"}, class: 'new-user-logout2' %>

      <div class="view-all-guests">View Guests</div>
      <div class="show-guest-list"></div>
      <div class="view-location">View Location</div>
      <%= link_to 'Gallery', wedding_images_path(@wedding), class: "view-gallery" %>
    <% end %>
  <% end %>

<% else %> 
  <div class="view-all-guests">View Guests</div>
  <div class="show-guest-list"></div>
  <div class="view-location">View Location</div>
  <%= link_to 'Gallery', wedding_images_path(@wedding), class: "view-gallery" %>
<% end %>

<% if @current_user.present? %>
  <% unless @wedding.user.nil? %>
    <% if @current_user.name == @wedding.user.name %>
      <div id="show-guests">Guests List</div>
      <div class="guest-lists">
        <% @wedding.guests.each do |guest| %>
          <% unless guest.nil? || guest.is_attending == false %>
            <p>
              <strong><%= link_to guest.full_name, edit_wedding_guest_path(@wedding, guest) %></strong>
              ( 
              <%= guest.relationship %> 
              )
              + 
              <%= (guest.number_people.to_i) %> 
              : 
              <%= guest.greeting %>
            </p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="location">
  <%= @wedding.location %>
  <div class="map-canvas"></div>
</div>

<% if @current_user.present? %>
  <% unless @wedding.user.nil? %>
    <% if @current_user.name == @wedding.user.name %>
      <%= link_to "Update", edit_wedding_path(@wedding), class: 'large blue button radius' %> 
      <%= link_to 'Destroy', wedding_path(@wedding), method: :delete, data: { confirm: 'Are you sure?' }, class: 'large blue button radius' %>
    <% end %>
  <% end %>
<% end %>


