
<%= form_for [@wedding, @image], :html => { :multipart => true }  do |f| %>

  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %>
    <%= f.cl_image_upload :file %>
  </div>

  <div class="field">
    <% unless @wedding.nil? %>
      <h5>Wedding: </h5>
      <%= @wedding.bride_name %> & <%= @wedding.groom_name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
