<p id="notice"><%= notice %></p>

<h1>Gallery</h1>

<h5><%= @wedding.bride_name %> & <%= @wedding.groom_name %></h5>


<% if @current_user.present? %>
  <% unless @wedding.user.nil? %>
    <% if @current_user.name == @wedding.user.name %>
    	<%= link_to 'Back', wedding_path(@wedding), class: 'btn-image-index-back'  %>
		<%= link_to 'New Image', new_wedding_image_path(@wedding), class: 'btn-image-index' %>
    
	 <% else %>
		<p><%= link_to 'Back', wedding_path(@wedding), class: 'btn-image-index-back' %></p>
    <% end %>
  <% end %>
 <% else %>
    <p><%= link_to 'Back', wedding_path(@wedding), class: 'btn-image-index-back' %></p>
<% end %>

<br>


<% @images.each do |image| %>

  		<%= link_to(image_tag(image.url, class: "image-index"), wedding_image_path(@wedding, image)) %>

<% end %>







